/* Base Theme ============================================================= */
:link,:visited {
text-decoration:none;
}
html,body,div,ul,ol,li,dl,dt,dd,form,fieldset,input,textarea,h1,h2,h3,h4,h5,h6,pre,code,p,blockquote,hr{
	margin:0;
	padding:0;
}

h4,h5,h6 {
font-size:100%;
font-weight:normal;
}
h1 {
	font-size: 18px;
	}
h2 {
	font-size: 16px;
	}
h3 {
	font-size: 15px;
	}	

/* strict reset by uncommenting lines below */
address,caption,cite,code,dfn,em,strong,b,u,s,i,th,var {
/* font-style:normal; */
/* font-weight:normal; */
}

hr {
border:0;
height:1px;
background-color:#000;
color:#000;
}
a img,:link img,:visited img {
border:none;
}
address {
font-style:normal;
}
textarea{
	width:400px;
	height:90px;
	padding:2px;
	color:#777777;
	font-size:12px;
	border:1px solid #6A9ABD;
	}

/* Global */

body {
font: normal 14px "Lucida Grande", Geneva, Arial, Verdana, "Lucida Sans Unicode", Helvetica, sans-serif;
text-align: center;
color: #333;
background-color: #FFFFFF;
}

a {
text-decoration:none;
outline:none;
color: #0063DC/*3882C3/3399FF*/;
}
a:hover {
text-decoration: none;
color:#FF9900;
}

code, pre {
	display: block;
	background: #F3F3F3;
	font: normal normal 1em/1.5em "Lucida Console", "Courier New", Courier, monospace;
	padding: 0.5em;
	}

blockquote {
margin: 15px 30px 0 10px;
padding-left: 10px;
border-left: 5px solid #ddd;
}